.header{
    position: relative;
}
.header__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    background: #FFFBD8;
}
.header__swiper-wrapper{
    position: absolute;
    left: calc(50% - 576);
    top: 0;
    max-width: 1152px;
    width: 100%;
    height: 100%;
    max-height: 821px;

    img{
        z-index: 5;
        height: 100%;
    }

    .swiper{
        max-width: 275px;
        height: 100%;
        margin: 0;
    }

    .swiper-slide{
        position: relative;
        max-width: 275px;
        max-height: 275px;
        width: 100%;
        height: 100%;
        background: url('../img/header/header_film_swiper.png');
        background-size: cover;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 0 0 0;

        img{
            max-width: 193px;
            width: 100%;
            max-height: 257px;
            height: 100%;
        }
    }
}
.header__menu{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 56px;
    margin-bottom: 66px;
    max-width: 1152px;
    width: 100%;
    padding: 9px 0;

    & *{
        position: relative;
        z-index: 5;
    }
}
.list__icon{
    display: flex;
    gap: 10px;

    li{
        position: relative;
        cursor: pointer;
        border-radius: 50%;
        transition: all 0.3s ease;

        &:hover{
            box-shadow: 0 0 20px 10px #fff;
            transition: all 0.3s ease;
        }
    }
}
.header__menu_burger{
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #612B1C;
    flex: 0 0 54px;
    height: 54px;
    cursor: pointer;

    &.active span:after{
        transform: rotate(15deg);
        transition: all 0.3s ease;
    }

    &.active span:before{
        transform: rotate(-15deg);
        transition: all 0.3s ease;
    }

    span{
       position: relative;
       width: 22px;
       height: 2px;
       background: #fff;

       &:after{
           content: '';
           position: absolute;
           top: -7.5px;
           width: 22px;
           height: 2px;
           background: #fff;
           transition: all 0.3s ease;
       }

       &:before{
           content: '';
           position: absolute;
           bottom: -6.5px;
           width: 22px;
           height: 2px;
           background: #fff;
           transition: all 0.3s ease;
       }
    }
}
.header__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1152px;
    width: 100%;
    padding-left: 307px;

    & *{
        position: relative;
        z-index: 5;
    }
}
.header__title{
    font-size: 60px;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    margin-bottom: 20px;
}
.header__text-wrapper{
    max-width: 507px;
    width: 100%;
}
.header__text{
    position: relative;
    font-family: 'Roboto Slab', serif;
    font-size: 12px;
    padding: 15px 0 0 50px;
    margin-bottom: 75px;

    p{
        font-size: 10px;
        padding: 20px 0 0 0;
    }

    svg{
        position: absolute;
        left: 5px;
        top: 5px;
    }
}
.header__button{
    background: #F82E2C;
    border-radius: 60px;
    max-width: 391px;
    width: 100%;
    font-size: 18px;
    cursor: pointer;
    margin-left: 10px;
    margin-bottom: 80px;
    transition: all 0.3s ease;

    a{
        padding: 19px 30px;
        gap: 23px;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &:hover{
        transform: translate(0, -5px);
        box-shadow: 0 5px 15px #f82e2c;
        transition: all 0.3s ease;
    }
}
.header__content-wrapper{
    background: #FFF06A;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header__info-wrapper{
    background: #612B1C;
    width: 100%;
    display: flex;
    justify-content: center;
}
.header__info{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    color: #fff;
    padding: 97px 10px 87px 307px;
    max-width: 1162px;
    width: 100%;

    & *{
        position: relative;
        z-index: 5;
    }
}
.header__info-column{
    display: flex;
    align-items: center;
    gap: 17px;
    cursor: pointer;
}
@media(min-width: 768px){
    .header__menu_burger{
        display: none;
    }
    .list__icon{
        padding: 0 5px;
    }
    .header__menu_list-mobile{
        display: none;
    }
}
@media(max-width: 767px){
    .header__menu{
        .list__icon{
            display: none;
        }
    }
    .header__menu_list-mobile{
        position: absolute;
        z-index: 5;
        left: 0;
        top: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        background: #612b1c;
        padding: 15px;
        transform: scale(0);
        transform-origin: 100% 15px;


        transition: all 0.3s ease;

        ul{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
        }

        a{
            color: #fff;
        }
    }
    .header__menu_list-mobile.active{
        transform: scale(1);
        transition: all 0.3s ease;
    }
}
@media(max-width: 600px){
    .header__right{
        padding-bottom: 30px;
    }
    .header__info{
        gap: 40px;
        padding: 15px;
    }
    .header__content{
        padding: 0 15px;
    }
    .header__button{
        font-size: 14px;
    }
}
@media(max-width: 550px){
    .header__title{
        font-size: 48px;
    }
}
@media(max-width: 1024px){
    .header__swiper-wrapper{
        position: relative;;
        align-items: center;
        background: #FFFBD8;

        .swiper{
            max-width: 275px;
            max-height: 821px;
            height: 100%;
            margin: 0 auto;

            .swiper-slide{
                padding: 0;
            }
        }
    }
    .header__content,
    .header__info{
        padding-left: 5px;
    }
    .header__info{
        justify-content: center;
    }
}