.congratulations__wrapper{
    padding: 108px 0 48px 0;
}
.congratulations__title{
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 48px;
    text-align: center;
    margin-bottom: 54px;
}
.congratulations__swiper-wrapper{
    max-width: 1900px;
    max-height: 415px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;

    .swiper-slide{
        position: relative;
        text-align: center;
        background: url('../img/congratulations/congratulations_swiper_frame.png') no-repeat;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 380px;
        padding: 0 10px;

        img{
            position: absolute;
            left: 10px;
            height: 265px;
        }
    }
    .swiper-pagination{
        top: 94%;
    }
    .swiper{
        padding-bottom: 40px;
    }
}
.swiper-pagination-bullet{
    background: #ffc500;
}
.swiper-button-prev,
.swiper-button-next{
    z-index: 100;
    &:after{
        color: #612B1C;
    }
}
.swiper-button-prev{
    left: calc(43% - 40px);
    top: 96%;

    &:after{
        content: '\2190';
        font-size: 34px;
    }
}
.swiper-button-next{
    right: calc(43% - 40px);
    top: 96%;

    &:after{
        content: '\2192';
        font-size: 34px;
    }
}
.swiper-pagination-bullet{
    opacity: 1;
}
.swiper-pagination-bullet-active{
    background: #85371F;
}
@media(max-width: 550px){
    .congratulations__title{
        font-size: 34px;
    }
}
@media(max-width: 484px){
    .congratulations__wrapper{
        

        .swiper-button-prev,
        .swiper-button-next{
            display: none;
        }

        .congratulations__swiper-wrapper{
            overflow: hidden;
            padding: 0 0px 0 20px;

            & *{
                overflow: visible;
            }
        }

        .swiper{
            max-height: 400px;
        }

        .swiper-pagination{
            top: 200px;
            left: -15px;
            width: 10px;
        }
        .swiper-slide{
            background-size: auto;

            img{
                position: absolute;
                left: 18px;
                top: 60px;
                height: 265px;
                max-width: 350px;
                width: 100%;
            }
        }
    }
}