.footer{
    background: #FFF06A;
}
.footer__wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    max-width: 1290px;
    width: 100%;
    margin: 0 auto;
    padding: 55px 25px;
    gap: 20px;
}
.footer__logo{
    max-width: 363px;
    img{
        width: 100%;
    }
}
.footer__logo,
.footer__menu,
.footer__contacts{
    margin: 0 auto;
}
.footer__item{
    margin-bottom: 18px;
    cursor: pointer;
}
.footer__telephon{
    margin-bottom: 10px;
}
.footer__mail{
    margin-bottom: 35px;
}
.footer__right{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 720px;
    width: 100%;
    margin: 0 auto;
    gap: 20px;
}
@media(max-width: 431px){
    .footer__contacts,
    .footer__menu{
        text-align: center;
    }
}